h1{
    color: #05141F;
    font-size: 50px;
    font-family: Arial;
    display: inline-block;
    text-decoration: underline;
    position: relative;
    left: 80px;
}


#slider {
   position: relative;
   margin: 0 auto;
   width: 950px;
   height: 500px;
   font: 19px sans-serif;
   overflow: hidden;
 } 

 #kontrol{
     position: absolute;
     right: 0;
     bottom: 10px;
 }

 #kontrol a{
     color: white;
     background: rgba(0, 0, 0, 0.5);
     padding: 10px;
     text-decoration: none;
 }

.home{
    position: relative;
    left: 30px;
}