body{
    background-image: url("images/niro\ son2.jpg") ;
    background-repeat: no-repeat;
    background-position:center;
    background-attachment: fixed;
    background-blend-mode: darken;
    background-size: cover ;
 }
body a{
    color:white;
    background:#05141F ;
    font-family: Arial;
    font-size: 180%;
    display: none;
    display: inline-block;
    padding-left: 57px;
    padding-right: 57px;
    
}

h1{
    color: #ff6f00;
    font-family: Arial;
    font-size: 42px;
    position: relative;
    left: 15px;
    top: 349px;
}