div h1{
    color: #05141F;
    font-family: Arial;
    font-size: 42px;
    text-align: left;
    text-decoration: underline;
    padding-left: 140px;
}

th{
    color: white;
    font-family: Arial;
    font-size: 20px;
    text-align: center;
}

button{
    color:white;
    background-color:#05141F;
    font-family: Arial;
    font-size: 24px;
    text-align: center;
    position: relative;
    left: 202px;
    top: 60px;
}

 .buton{
    position: relative;
    top: -675px;
    left: 500px;
}

.home{
    position: relative;
    left: 30px;
}