body a{
    color:white;
    background:#05141F ;
    font-family: Arial;
    font-size: 180%;
    display: none;
    display: inline-block;
    padding-left: 55px;
    padding-right: 55px;
    
}
table{
    font-family: Arial, sans-serif;
    border-collapse: collapse;
    width: 80%;
    text-align: start;
    position: relative;
    left: 170px;
}

th{
    color: #666666;
    border: 1px solid #05141F;
    text-align: center;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
}


h1{
    color: #05141F;
    font-family: Arial;
    position: relative;
    left: 180px;
    text-decoration: underline;
}