div h1{
    color: #05141F;
    font-family: Arial;
    font-size: 36px;
    text-align: center;
    text-decoration: underline;
}

div h3{
    color: black;
    font-family: Arial;
    padding-left: 50px;
    padding-right: 50px;
    text-align: center;
}
div h5{
    color: red;
    font-family: Arial;
    padding-left: 30px;
    padding-right: 30px;
    text-align: center;
}

.home{
    position: relative;
    left: 30px;
}